.topContainer{
    padding: 10px;
    border-bottom: 1px solid white;
    display: flex;
    gap: 20px;
    align-items: center;
}

.dataID{
    text-align: left;
    width: 50%;
}

span{
    font-size: .8rem;
}

.names{
    width: 50%;
}